<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MeetYourCar</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MainCar</servlet-name>
    <servlet-class>frontendPackage.MainCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainCar</servlet-name>
    <url-pattern>/MainCar</url-pattern>
  </servlet-mapping>
  <servlet>
		<servlet-name>hsql</servlet-name>
		<servlet-class>org.hsqldb.server.Servlet</servlet-class> 
                <!-- Example of absolute DB path, for path relative ./WEB_INF add parameter hsqldb.server.use_web-inf_path = true -->
		<init-param>
			<param-name>hsqldb.server.database</param-name> 
			<param-value>/var/db/hsql01</param-value> 
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>hsql</servlet-name>
		<url-pattern>*</url-pattern>
	</servlet-mapping>
</web-app>
