<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MeetYourCar</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 <servlet> 
<servlet-name>DatabaseServlet</servlet-name> 
<servlet-class>myServlets.DbServlet</servlet-class>

 <init-param>
  <param-name>jdbcClass</param-name> 
  <param-value>org.hsqldb.jdbcDriver</param-value> 
  </init-param> 
  <init-param> 
  <param-name>dbURL</param-name> 
  <param-value>jdbc:hsqldb:file:WebContent/HSQLDB/hsqldb-2.3.1/hsqldb ;shutdown=true</param-value> 
  </init-param> 
  <init-param> 
  <param-name>username</param-name> 
  <param-value>root</param-value> 
  </init-param> 
  <init-param> 
  <param-name>password</param-name> 
  <param-value>root</param-value> 
  </init-param>
 </servlet>
 
  <servlet>
    <servlet-name>MainCar</servlet-name>
    <servlet-class>frontendPackage.MainCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainCar</servlet-name>
    <url-pattern>/MainCar</url-pattern>
  </servlet-mapping>

</web-app>
